* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    margin: 0.3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
}

h3 {
    font-size: 200%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 600px;
}

label,
input,
button {
    font-size: 1rem;
    margin: 0.3rem 0;
}

input {
    font-size: 1rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    border-radius: 5px;
}

button {
    margin-top: 1rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    background-color: #2763eb;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #2763ff;
}
